<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
          Hello!
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 0;">
              check bad words
            </p>
          <a href="{{frontUrl}}/cars/{{_id}}">Check description this announcement</a>
        </td>
    </tr>
</table>
