<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
          Hello
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 0;">
              contact to seller about missing brand
            </p>
          <p>Send email to <a href="mailto:{{context.email}}">{{context.email}}</a></p>
        </td>
    </tr>
</table>
