<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
           Hello {{name}}
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 0;">
                click on button to confirm
            </p>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <a href="{{frontUrl}}/forgot-password?token={{actionToken}}">RESTORE PASSWORD>
        </td>
    </tr>
</table>
